body {
    position: relative;
    background-color: black;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/imgs/svgs/bg2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    opacity: 0.3;
    pointer-events: none;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(ellipse 80% 50% at 50% 0%, rgba(255, 255, 255, 0.15), transparent 50%),
        url('../resources/imgs/svgs/bg_pattern.svg');
    background-size: 100% 100%, cover;
    background-position: center top, center;
    background-repeat: no-repeat, no-repeat;
    mix-blend-mode: normal;
    pointer-events: none;
}
